In [1]:
import requests
import numpy as np
import pandas as pd
import datetime

In [2]:
'''
Vamos a utilizar la Api de chuck norris para obtener chistes aleatorios.

https://api.chucknorris.io/

Porque... why not?

'''

'\nVamos a utilizar la Api de chuck norris para obtener chistes aleatorios.\n\nhttps://api.chucknorris.io/\n\nPorque... why not?\n\n'

In [3]:
#Definimos la funcion para llamar la api y obtener un chiste aleatorio

def get_joke():
    url = 'https://api.chucknorris.io/jokes/random'
    response = requests.get(url)
    data = response.json()
    data = pd.DataFrame([data])

    data['fecha_insercion'] = datetime.datetime.now()
    data = data.drop(columns=['categories', 'icon_url', 'updated_at'])
    return data

#probamos la funcion
joke = get_joke()
joke

,created_at,id,url,value,fecha_insercion
0,2020-01-05 13:42:28.420821,zaBJtyEuTrKeA4QnShNsog,https://api.chucknorris.io/jokes/zaBJtyEuTrKeA...,Chuck Norris was born :December 32nd,2024-05-07 22:24:40.383902

In [16]:
user = 'ptoledor_coderhouse'
passw = 'Oyd0K639G3'
host = 'data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com'
port = '5439'
database = 'data-engineer-database'
schema = 'ptoledor_coderhouse'

In [10]:
#coneccion a redshift
import sqlalchemy
import psycopg2

def conexion_redshift(user, passw, host, port, database):
    conn_string = f'postgresql://{user}:{passw}@{host}:{port}/{database}?sslmode=require'
    engine = sqlalchemy.create_engine(conn_string)
    conn = engine.connect()
    return conn, engine

conn, engine = conexion_redshift(user, passw, host, port, database)

In [ ]:
#creamos la tabla en redshift
# def create_table_redshift(conn, engine, schema):
#     query = f'''
#     CREATE TABLE {schema}.chuck_norris_jokes(
#     id VARCHAR(255),
#     url VARCHAR(255),
#     value VARCHAR(500),
#     fecha_insercion TIMESTAMP
#     )
#     '''
#     conn.execute(query)
#     return

#Comentado pq ya esta creada.

In [27]:
#Insert de registro
get_joke().to_sql(
    name='chuck_jokes',
    con=engine,
    schema='ptoledor_coderhouse',
    if_exists='append',
    index=False
)

1